nav.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

main.row {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link.a {
  text-decoration: none;
}

.navbar a {
  padding: 10px;
  font-weight: 500;
  font-size: 1.5rem;

  --b: 0.2em; /* Line Thickness */
  --c: #1457d4; /* Line Color */

  color: rgb(0, 0, 0);
  padding-block: var(--b);
  background: linear-gradient(var(--c) 50%, #000 0) 0%
      calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
      no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.navbar a:hover {
  --_p: 100%;
  --_s: 0.3s;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}