nav.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

main.row {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link.a {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

