html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
}

.tech_stack:hover {
  background-color: rgb(199, 221, 240);
  cursor: default;
  transition: transform 0.2s ease-in-out;
}

.tech_stack {
  margin: .5em;
  box-shadow: black 0px 3px 3px 0px;
}

.card_stack {
  margin: .5em;
  box-shadow: #1554dd 0px 0px 10px 1px;
}

.card_stack:hover{
  background-color: aliceblue;
  transition: background-color .25s ease-in-out;
}

.img-max {
  max-width: 5rem;
  width: 100%;
}

.img-max2 {
  max-width: 2.5rem;
  width: 100%;
  margin: 5px;
}

.img-card-max {
  max-width: 400px;
  max-height: 450px;
}

.img-touch{
  max-width: 4rem;
  width: 100%;
}

.hover-1 {
  padding: 10px;
  font-weight: 800;
  font-size: 1.7rem;

  --b: 0.2em;   /* the thickness of the line */
  --c: #1554dd; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover-1:hover {
  --_p: 100%;
  --_s: .3s;
}