@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="text-center introText">
    <h1>Hi, I am <span>Jordan Waite</span>.</h1>
    <h2> A Software Developer.</h2>
</div>
