@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="text-center container-sm">
    <h1 class="display-4 p-3">Hi, I am <span style="color: #1457d4;">Jordan
            Waite</span>.</h1>
    <h2 class="p-3"> A Software Developer.</h2>
    <div class="p-3 row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
                odit
                ea
                debitis aspernatur, quod voluptates facilis pariatur quaerat
                repellat
                saepe molestiae, temporibus iusto placeat quam voluptatibus,
                delectus
                dolor animi tempore!q</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
