@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="text-center container">
    <div class="p-5">
        <h1 class="intro-text">Hi, I am <span style="color: #1457d4;">Jordan
                Waite</span>.</h1>
    </div>
    <h2> A Software Developer.</h2>
    <div class="p-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam odit
            ea
            debitis aspernatur, quod voluptates facilis pariatur quaerat
            repellat
            saepe molestiae, temporibus iusto placeat quam voluptatibus,
            delectus
            dolor animi tempore!q</p>
    </div>

</div>
