@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="container-sm text-center">
    <h1 class="display-4 fw-bold"
        style="margin-top: 20px; margin-bottom: 2rem;">Hi, I
        am <span style="color: #1457d4;">Jordan
            Waite</span>.</h1>
    <h2 class="p-3"> A Software Developer, and more.</h2>

    <div class="row pb-5">
        <div class="col-2"></div>
        <div class="col-8">
            <p>I leverage proven leadership, mentorship, technical aptitude and
                problem solving capability through a ten year career as a US
                Navy Pilot. Resourceful and results oriented with recognized
                ability to quickly learn new technology and provide resolutions
                to challenging and dynamic environments.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container-md text-center pt-5 pb-5">
    <h3 class="fw-bold" id="contact">GET IN TOUCH</h3>
    <div class="d-flex justify-content-center pt-3">

        <a href="https://www.linkedin.com/in/jordanmwaite/" target="_blank"
            class="img-touch m-3">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" />
        </a>
        <a href="https://github.com/jordanwaite" target="_blank"
            class="img-touch m-3">
            <img
                src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
        </a>

        @* <a href="https://github.com/jordanwaite" target="_blank"
            class="img-touch m-3">
            <img src="images/mail-logo.png" class="img-touch"/>
            </a> *@
    </div>
</div>

<div class="container-sm text-center pt-5 pb-1">
    <h3 class="fw-bold" id="projects">PROJECTS</h3>
</div>

<div class="d-flex justify-content-evenly pb-5">
    <div class="row text-center" style="max-width: 856px;">
        <div class="col-sm-6 pt-3">
            <div class="card border-left-0 border-0" style="">
                <div class="card-body">
                    <h5 class="card-title">Word Document Generation App
                    </h5>
                    <p class="card-text">A text
                        below as a
                        natural lead-in to additional content.pporting text
                        below as a
                        natural lead-in to additional content.With supporting
                        text below as a
                        natural lead-in to additional content.</p>
                    <a href="https://nrotc-app.herokuapp.com/" class=""
                        target="_blank"><img src="images/external-link.png"
                            alt="external link" class="img-max2"
                            title="View Live Demo"></a>
                    <a href="https://github.com/jordanwaite/NROTCApp/" class=""
                        target="_blank"><img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                            alt="external link" class="img-max2"
                            title="View Code"></a>

                </div>
                <div class="image-card">
                    <img src="images/PRBDoc.png"
                        class="card-img-top rounded img-card-max "
                        alt="Title Screen of the game, 'RUBY'">
                </div>
            </div>
        </div>
        <div class="col-sm-6  pt-3">
            <div class="card border-0" style="">
                <div class="card-body">
                    <h5 class="card-title">Space Shooter Game</h5>
                    <p class="card-text">Vertical
                        scrolling space shooter
                        created with Python. Packages used: pygame, numpy.
                        Sprites/Sounds provided by <i>Skorpio</i>,
                        <i>FalconSun Kft</i>, and <i>cooltext.com.</i>
                    </p>
                    @* <a href="https://nrotc-app.herokuapp.com/" class=""
                        target="_blank"><img src="images/external-link.png"
                            alt="external link" class="img-max2"
                            title="View Live Demo"></a> *@
                    <a href="https://github.com/jordanwaite/Ruby" class=""
                        target="_blank"><img
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
                            alt="external link" class="img-max2"
                            title="View Code"></a>
                </div>
                <div class="image-card">
                    <img src="images/RubyGameplay.png"
                        class="card-img-top rounded img-card-max "
                        alt="Gameplay of the game, 'RUBY'">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-sm text-center pt-5 pb-5" style="max-width: 700px;">
    <h2 class="fw-bold pb-4" id="skills">TECHNOLOGY</h2>

    <div class="d-flex justify-content-center flex-wrap">

        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"
                title="C#" />
        </div>

        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg"
                title="Azure" />
        </div>

        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg"
                title="SQL Server" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg"
                title="SQLight" />

        </div>

        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original-wordmark.svg"
                title=".NET" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg"
                title=".NET CORE" />

        </div>
        <div class="tech_stack border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
                title="JavaScript" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg"
                title="HTML 5" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg"
                title="CSS 3" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg"
                title="Django" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg"
                title="C#" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg"
                title="Git" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">

            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg"
                title="GitHub" />
        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualstudio/visualstudio-plain.svg"
                title="Visual Studio" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/windows8/windows8-original.svg"
                title="Windows" />

        </div>
        <div class="tech_stack p-2 bd-highlight border rounded-3 m-3 img-max">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
                title="Linux" />

        </div>
    </div>