@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="text-center">
    <h1>Hi, I am <span id="large-name">Jordan Waite.</span></h1>
    <h2> A Software Developer.</h2>
</div>
