@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="text-center container-sm">
    <h1 class="display-4 p-3">Hi, I am <span style="color: #1457d4;">Jordan
            Waite</span>.</h1>
    <h2 class="display-6 p-3"> A Software Developer.</h2>
    <div class="p-3 row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam
                odit
                ea
                debitis aspernatur, quod voluptates facilis pariatur quaerat
                repellat
                saepe molestiae, temporibus iusto placeat quam voluptatibus,
                delectus
                dolor animi tempore!q</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="card text-center" style="width: 18rem;">
  <img src="IMAGE" class="card-img-top" alt="IMAGE">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>