@page
@model IndexModel
@{
    ViewData["Title"] = "Jordan Waite";
}

<div class="container-sm text-center">
    <h1 class="display-4 fw-bold"
        style="margin-top: 20px; margin-bottom: 2rem;">Hi, I
        am <span style="color: #1457d4;">Jordan
            Waite</span>.</h1>
    <h2 class="p-3"> A Software Developer, and more.</h2>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>I leverage proven leadership, mentorship, technical aptitude and
                problem solving capability through a ten year career as a US
                Navy Pilot. Resourceful and results oriented with recognized
                ability to quickly learn new technology and provide resolutions
                to challenging and dynamic environments.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<div class="container-sm text-center pt-5">
    <h3 class="fw-bold" id="contact">Get In Touch</h3>
        <a href="https://www.linkedin.com/in/jordanmwaite/" target="_blank"
        class="p-2">
        <img src="images/linkedin.svg" height="40" class="p-1"
            alt="LinkedIn Logo"></a>

    <a href="https://github.com/jordanwaite" target="_blank" class="p-2">
        <img src="images/github.svg" height="40" class="p-1"
            alt="GitHub Logo"></a>
</div>

<div class="container-sm text-center pt-5">
    <h3 class="fw-bold" id="projects">PROJECTS</h3>
</div>

<div class="d-flex justify-content-evenly">
    <div class="row text-center" style="max-width: 856px;">
        <div class="col-sm-6 pt-3">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">Word Document Generation App
                    </h5>
                    <p class="card-text">With supporting text below as a
                        natural lead-in to additional content.</p>
                    <a href="https://nrotc-app.herokuapp.com/"
                        class="btn btn-primary" target="_blank">View
                        Live</a>
                </div>
                <div class="image-card">
                <img src="images/RubyTitleScreen.png" class="card-img-top"
                    alt="Title Screen of the game, 'RUBY'">
                </div>

            </div>
        </div>
        <div class="col-sm-6  pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Space Shooter Game</h5>
                    <p class="card-text">Vertical scrolling space shooter
                        created with Python. Packages used: pygame, numpy.
                        Sprites/Sounds provided by <i>Skorpio</i>,
                        <i>FalconSun Kft</i>, and <i>cooltext.com.</i>
                    </p>
                    <a href="https://github.com/jordanwaite/Ruby"
                        class="btn btn-primary" target="_blank">View Source
                        Code</a>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide"
                    data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/RubyTitleScreen.png"
                                class="d-block w-100"
                                alt="Title Screen of the game, 'RUBY'">
                        </div>
                        <div class="carousel-item">
                            <img src="images/RubyGameplay.png"
                                class="d-block w-100"
                                alt="Gameplay of the game, 'RUBY'">
                        </div>
                        <div class="carousel-item">
                            <img src="images/RubyGameOver.png"
                                class="d-block w-100"
                                alt="Endgame screen of the game, 'RUBY'">
                        </div>
                    </div>
                    <a class="carousel-control-prev"
                        href="#carouselExampleIndicators" role="button"
                        data-slide="prev">
                        <span class="carousel-control-prev-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                    <a class="carousel-control-next"
                        href="#carouselExampleIndicators" role="button"
                        data-slide="next">
                        <span class="carousel-control-next-icon"
                            aria-hidden="true"></span>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-sm text-center pt-5">
    <h3 class="fw-bold" id="skills">TECH STACK</h3>
</div>
