/* _content/portfolioApp/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-o2b0zbxdfd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-o2b0zbxdfd] {
  color: #0077cc;
}

.btn-primary[b-o2b0zbxdfd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-o2b0zbxdfd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-o2b0zbxdfd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-o2b0zbxdfd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-o2b0zbxdfd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-o2b0zbxdfd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

nav.navbar[b-o2b0zbxdfd] {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-link.a[b-o2b0zbxdfd] {
  text-decoration: none;
}

#large-name[b-o2b0zbxdfd] {
  color: darkblue;
}

.navbar a[b-o2b0zbxdfd] {
  padding: 10px;
  font-weight: 500;
  font-size: 1.5rem;

  --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.navbar a:hover[b-o2b0zbxdfd] {
  --_p: 100%;
  --_s: .3s;
}
